.logo{
  width: auto;
}
.logo a{
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  font-family: var(--font-one);
  color: var(--text);
}
.logoIcon{
  color: var(--light-text);
}
.logo a h1{
  font-size: 1.2rem;
}